[Unit]
Description=PotBuddy Manager UI & API
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/potbuddy/manager-api
ExecStart=/opt/potbuddy/manager-api/manager
Restart=always
RestartSec=5s
Environment=PORT=8081
Environment=DB_DSN=postgres://postgres:postgres@10.0.0.66:5432/potbuddy?sslmode=disable

[Install]
WantedBy=multi-user.target
